<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스를 기재한다. -->
<mapper namespace="com.edu.freeboard.mapper.FreeboardMapper">
	<!-- 게시글 작성 -->
	<insert id="write" parameterType="com.edu.freeboard.domain.FreeboardDTO">
	INSERT	INTO freeboard
			(WRITER, TITLE, CONTENT, writeDate, category, tags) 
	VALUES	(#{writer}, #{title}, #{content}, SYSDATE(), #{category}, #{tags} )
	</insert>
	<!-- 게시글 상세 보기 -->
	<select id="boardDetail" resultType="com.edu.freeboard.domain.FreeboardDTO">
	SELECT 	* 
	FROM 	freeboard 
	WHERE 	boardNo = #{boardNo} 
	</select>
	<!-- 게시글 수정 -->
	<update id="boardUpdate" >
	UPDATE 	freeboard 
	SET 	TITLE = #{title}, CONTENT = #{content}, category = #{category} 
	WHERE 	boardNo = #{boardNo} 
	</update>
	<!-- 게시글 조회수 증가 -->
	<update id="addViews">
	UPDATE 	freeboard 
	SET 	views = views + 1 
	WHERE 	boardNo = #{boardNo} 
	</update>
	<!-- 게시글 삭제 -->
	<delete id="boardDelete">
	DELETE 
	FROM 	freeboard 
	WHERE 	boardNo = #{boardNo}
	</delete>	
	<!-- 게시글 검색1-->
	<select id="search" resultType="com.edu.freeboard.domain.FreeboardDTO">
	SELECT	f.*, m.name writerName
	FROM 	freeboard f inner join member m on f.writer = m.memberId
	AND 	f.title like #{keyword} or f.content like #{keyword}
	ORDER BY boardNo DESC LIMIT #{startNo}, #{numOfPage}
	</select>	
	<!-- 게시글 검색2-->
	<select id="search2" resultType="com.edu.freeboard.domain.FreeboardDTO">
	SELECT 	f.*, m.name writerName
	FROM 	freeboard f inner join member m on f.writer = m.memberId
	AND 	f.title LIKE #{keyword} OR f.content LIKE #{keyword} 
	WHERE 	f.category = #{viewCategory} 
	ORDER BY boardNo DESC LIMIT #{startNo}, #{numOfPage}
	</select>	
	<!-- 게시글 목록1 -->	
	<select id="boardList" resultType="com.edu.freeboard.domain.FreeboardDTO">
    SELECT	f.*, m.name writerName
    FROM	freeboard f INNER JOIN member m on f.writer = m.memberId    
 	ORDER BY boardNo DESC LIMIT #{startNo}, #{numOfPage} 
	</select>	
	<!-- 게시글 목록2 -->	
	<select id="boardList2" resultType="com.edu.freeboard.domain.FreeboardDTO">
    SELECT	f.*, m.name writerName
    FROM	freeboard f INNER JOIN member m on f.writer = m.memberId
    AND		f.category = #{viewCategory} 
    ORDER BY boardNo DESC LIMIT #{startNo}, #{numOfPage} 
	</select>	
	<!-- 화면에 보여줄 게시글 개수 추출1 -->
	<select id="getBoardCount" resultType="Integer">
	SELECT 	COUNT(boardNo) 
	FROM 	freeboard 
	</select>	
	<!-- 화면에 보여줄 게시글 개수 추출2 -->
	<select id="getBoardCount2" resultType="Integer">
	SELECT 	COUNT(boardNo)
	FROM 	freeboard 
	WHERE 	category = #{viewCategory} 
	</select>	
	<!-- 화면에 보여줄 게시글 개수 추출1 (검색시) -->
	<select id="getSearchCount" resultType="Integer">
	SELECT 	COUNT(boardNo) 
	FROM 	freeboard 
	WHERE 	(title LIKE #{keyword} OR content LIKE #{keyword}) 
	</select>	
	<!-- 화면에 보여줄 게시글 개수 추출2 (검색시) -->
	<select id="getSearchCount2" resultType="Integer">
	SELECT 	COUNT(boardNo) 
	FROM 	freeboard
	WHERE 	category = #{viewCategory}
	AND 	(title LIKE #{keyword} OR content LIKE #{keyword})	
	</select>

	<!-- 게시글 좋아요수 증가 -->
	<update id="addLikes">
	UPDATE 	freeboard 
	SET 	likes = likes + 1 
	WHERE 	boardNo = #{boardNo}
	</update>
	<!-- 좋아요 내용 기록 -->
	<insert id="writeLikes">
	INSERT INTO fblikes 
			(memberId, boardNo) 
	VALUES 	(#{memberId}, #{boardNo})
	</insert>	
	<!-- 게시글 좋아요수 가져오기 -->
	<select id="getLikes" resultType="int">
	SELECT 	likes 
	FROM 	freeboard 
	WHERE 	boardNo = #{boardNo} 
	</select>
	<!-- 게시글 좋아요 여부 검사 -->
	<select id="likeCheck" resultType="int">
	SELECT 	COUNT(*) 
	FROM 	fblikes 
	WHERE 	boardNo = #{boardNo} 
	AND 	memberId = #{memberId} 
	</select>	
	<!-- 게시글 좋아요수 감소 -->
	<update id="subtractLikes">
	UPDATE 	freeboard 
	SET 	likes = likes - 1 
	WHERE 	boardNo = #{boardNo}
	</update>
	<!-- 좋아요 내용 삭제 -->
	<delete id="deleteLikes">
	DELETE 
	FROM 	fblikes 
	WHERE 	boardNo = #{boardNo} 
	AND 	memberId = #{memberId} 
	</delete>
	
	
	
		
</mapper>