.content-wrap{
  width: 100%;
  margin: 0 auto;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
  overflow: hidden;
  background: #FFFFFF;
}
.content-calendar{
  float: left;
  width: 100%;
  padding: 30px 10px 10px 10px;
}
#current-year-month{
  font-size: 19px;
}
#prev:hover, #next:hover{
  cursor: pointer;
}
.sun{
  color:#ff5959;
}
.sat{
  color:#5959ff;
}
.content-calendar table tr td{
  width: 43px;
  height: 43px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.existDate:hover {
  background: #dddddd;
  border-radius: 50%;
  cursor: pointer;
}
.yesDate {
  background: #ffffa4;
  border-radius: 50%;
}
.active{
  background: #999999;
  border-radius: 50%;
  color: #ffffff;
}
.content-history{
  border-top: 1px dashed #DDDDDD;
  float: left;
  width: 100%;
  padding: 30px 10px 30px 10px;
}
.main-wrap{
  text-align: center;
  margin: 10px 0;
}
.main-date{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}
.main-status{
  font-size: 17px;
}
.history-wrap{
  margin: 10px 0;
}
.history-title{
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin: 0 0 10px 10px;
}
.del-data{
  display: inline-block;
  cursor: pointer;
  font-size: 10px;
  background: #FFFFFF;
  border: none;
  border-radius: 10px;
}
@media(min-width: 768px){
  .content-calendar{
    width: 50%;
    padding: 30px 20px 10px 20px;
    margin: 10px 0;
  }
  .content-history{
    border-top: 0px;
    border-left: 1px dashed #DDDDDD;
    width: 50%;
    min-height: 410px;
    padding: 30px 20px 10px 20px;
  }
}