<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- 다른 mapper와 중복되지 않도록 네임스페이스를 기재한다. -->
<mapper namespace="com.edu.common.mapper.PointMapper">

	<!-- memberId, 오늘날짜, content 값으로 지급된 loginPoint가 있는지 확인하기 -->
	<select id="isLoginPointCheck" resultType="int">
	SELECT 	count(*) 
	FROM 	point
	WHERE 	member = #{memberId}
	AND 	DATE_FORMAT(accrDate, "%Y-%m-%d") = CURDATE() <!-- 'CURDATE() = 오늘날짜'를 의미한다. -->
	AND		content = "로그인을 성공하여 1포인트가 지급되었습니다."
	</select>	
	
	<!-- login에 따른 point 지급하기 -->
	<!-- insert로 changeVal에 쌓이고, 나중에 where memberId = #{memberId}조건에 select sum(*)으로 포인트를 더할 예정 -->
	<insert id="addLoginPoint">
	INSERT INTO	point 
			(member, content, changeVal)
	VALUES (#{memberId}, #{loginPointContent}, changeVal + 1)  
	</insert>
	
	<!-- memberId, 오늘날짜, content 값으로 지급된 TILPoint가 있는지 확인하기 -->
	<select id="isTILPointCheck" resultType="int">
	SELECT 	count(*) 
	FROM 	point
	WHERE 	member = #{memberId}
	AND 	DATE_FORMAT(accrDate, "%Y-%m-%d") = CURDATE() <!-- 'CURDATE() = 오늘날짜'를 의미한다. -->
	AND		content = "TIL을 작성하여 1포인트가 지급되었습니다."
	</select>
	
	<!-- TIL에 작성에 따른 point 지급하기 -->
	<!-- insert로 changeVal에 쌓이고, 나중에 where memberId = #{memberId}조건에 select sum(*)으로 포인트를 더할 예정 -->
	<insert id="addTILPoint">
	INSERT INTO	point 
			(member, content, changeVal)
	VALUES (#{memberId}, #{TILPointContent}, changeVal + 1)  
	</insert>
		
</mapper>