<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스를 기재한다. -->
<mapper namespace="com.edu.groupboard.mapper.GroupboardMapper">
	
	<!-- 게시글 목록 -->
	<select id="boardList" resultType="com.edu.groupboard.domain.GroupboardDTO">
	SELECT	g.*, m.name writerName, 
			(SELECT COUNT(commentNo) FROM gbcomment WHERE boardNo = g.boardNo) commentNum 
	FROM	groupboard g INNER JOIN member m on g.writer = m.memberId 
	AND		g.groupNo = #{groupNo} 
	ORDER BY boardNo DESC LIMIT #{startNo}, #{numOfPage} 
	</select>
	<!-- 게시글 목록 - 제목+내용 검색 -->
	<select id="searchAll" resultType="com.edu.groupboard.domain.GroupboardDTO">
	SELECT 	*, m.name writerName,
			(SELECT COUNT(commentNo) FROM gbcomment WHERE boardNo = g.boardNo) commentNum 
	FROM 	groupboard g INNER JOIN member m ON g.writer = m.memberId 
	WHERE 	g.groupNo = #{groupNo} 
	AND 	(g.title LIKE #{keyword} OR g.content LIKE #{keyword}) 
	ORDER BY boardNo DESC LIMIT #{startNo}, #{numOfPage} 
	</select>
	<!-- 게시글 목록 - 제목 검색 -->
	<select id="searchTitle" resultType="com.edu.groupboard.domain.GroupboardDTO">
	SELECT 	*, m.name writerName,
			(SELECT COUNT(commentNo) FROM gbcomment WHERE boardNo = g.boardNo) commentNum 
	FROM 	groupboard g INNER JOIN member m ON g.writer = m.memberId 
	WHERE 	g.groupNo = #{groupNo} 
	AND 	(g.title LIKE #{keyword}) 
	ORDER BY boardNo DESC LIMIT #{startNo}, #{numOfPage} 
	</select>
	<!-- 게시글 목록 - 내용 검색 -->
	<select id="searchContent" resultType="com.edu.groupboard.domain.GroupboardDTO">
	SELECT 	*, m.name writerName,
			(SELECT COUNT(commentNo) FROM gbcomment WHERE boardNo = g.boardNo) commentNum 
	FROM 	groupboard g INNER JOIN member m ON g.writer = m.memberId 
	WHERE 	g.groupNo = #{groupNo} 
	AND 	(g.content LIKE #{keyword}) 
	ORDER BY boardNo DESC LIMIT #{startNo}, #{numOfPage} 
	</select>
	<!-- 게시글 목록 - 작성자 검색 -->
	<select id="searchWriter" resultType="com.edu.groupboard.domain.GroupboardDTO">
	SELECT 	*, m.name writerName,
			(SELECT COUNT(commentNo) FROM gbcomment WHERE boardNo = g.boardNo) commentNum 
	FROM 	groupboard g INNER JOIN member m ON g.writer = m.memberId 
	WHERE 	g.groupNo = #{groupNo} 
	AND 	(g.writer LIKE #{keyword} OR m.name LIKE #{keyword}) 
	ORDER BY boardNo DESC LIMIT #{startNo}, #{numOfPage} 
	</select>
	<!-- 화면에 보여줄 게시글 개수 추출 -->
	<select id="getBoardCount" resultType="Integer">
	SELECT 	COUNT(boardNo) 
	FROM 	groupboard 
	WHERE 	groupNo = #{groupNo} 
	</select>
	<!-- 화면에 보여줄 게시글 개수 추출 - 제목+내용 검색 -->
	<select id="getSearchCountAll" resultType="Integer">
	SELECT 	COUNT(boardNo) 
	FROM 	groupboard 
	WHERE 	groupNo = #{groupNo} 
	AND 	(title LIKE #{keyword} OR content LIKE #{keyword}) 
	</select>
	<!-- 화면에 보여줄 게시글 개수 추출 - 제목 검색 -->
	<select id="getSearchCountTitle" resultType="Integer">
	SELECT 	COUNT(boardNo) 
	FROM 	groupboard 
	WHERE 	groupNo = #{groupNo} 
	AND 	(title LIKE #{keyword}) 
	</select>
	<!-- 화면에 보여줄 게시글 개수 추출 - 내용 검색 -->
	<select id="getSearchCountContent" resultType="Integer">
	SELECT 	COUNT(boardNo) 
	FROM 	groupboard 
	WHERE 	groupNo = #{groupNo} 
	AND 	(content LIKE #{keyword}) 
	</select>
	<!-- 화면에 보여줄 게시글 개수 추출 - 작성자 검색 -->
	<select id="getSearchCountWriter" resultType="Integer">
	SELECT 	COUNT(g.boardNo) 
	FROM 	groupboard g INNER JOIN member m on g.writer = m.memberId 
	WHERE 	g.groupNo = #{groupNo} 
	AND 	(g.writer LIKE #{keyword} OR m.name LIKE #{keyword}) 
	</select>
	
	<!-- 게시글 상세 보기 -->
	<select id="boardDetail" resultType="com.edu.groupboard.domain.GroupboardDTO">
	SELECT 	*, m.name writerName, gl.groupName groupName 
	FROM 	groupboard g INNER JOIN member m ON g.writer = m.memberId 
			INNER JOIN grouplist gl ON g.groupNo = gl.groupNo 
	AND 	g.boardNo = #{boardNo} 
	</select>
	<!-- 게시글 조회수 증가 -->
	<update id="addViews">
	UPDATE 	groupboard 
	SET 	views = views + 1 
	WHERE 	boardNo = #{boardNo} 
	</update>
	<!-- 게시글 작성 -->
	<insert id="write" parameterType="com.edu.groupboard.domain.GroupboardDTO">
	INSERT INTO groupboard 
			(WRITER, TITLE, CONTENT, writeDate, groupNo, tags) 
	VALUES 	(#{writer}, #{title}, #{content}, SYSDATE(), #{groupNo}, #{tags}) 
	</insert>
	<!-- 게시글 수정 -->
	<update id="update">
	UPDATE 	groupboard
	SET 	title = #{title}, content = #{content}, tags = #{tags} 
	WHERE 	boardNo = #{boardNo} 
	</update>
	<!-- 게시글 삭제 -->
	<delete id="delete">
	DELETE 
	FROM 	groupboard 
	WHERE 	boardNo = #{boardNo} 
	</delete>
	
	<!-- 게시글 좋아요수 증가 -->
	<update id="addLikes">
	UPDATE 	groupboard 
	SET 	likes = likes + 1 
	WHERE 	boardNo = #{boardNo} 
	</update>
	<!-- 좋아요 내용 기록 -->
	<insert id="writeLikes">
	INSERT INTO gblikes 
			(memberId, boardNo) 
	VALUES 	(#{memberId}, #{boardNo})
	</insert>
	<!-- 게시글 좋아요수 가져오기 -->
	<select id="getLikes" resultType="int">
	SELECT 	likes 
	FROM 	groupboard 
	WHERE 	boardNo = #{boardNo} 
	</select>
	<!-- 게시글 좋아요 여부 검사 -->
	<select id="likeCheck" resultType="int">
	SELECT 	COUNT(*) 
	FROM 	gblikes 
	WHERE 	boardNo = #{boardNo} 
	AND 	memberId = #{memberId} 
	</select>
	<!-- 게시글 좋아요수 감소 -->
	<update id="subtractLikes">
	UPDATE 	groupboard 
	SET 	likes = likes - 1 
	WHERE 	boardNo = #{boardNo}
	</update>
	<!-- 좋아요 내용 삭제 -->
	<delete id="deleteLikes">
	DELETE 
	FROM 	gblikes 
	WHERE 	boardNo = #{boardNo} 
	AND 	memberId = #{memberId} 
	</delete>
	
</mapper>